In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('MyFirstApp').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/24 21:58:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/24 21:58:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/11/24 21:58:23 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/11/24 21:58:23 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/11/24 21:58:23 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [3]:
df = spark.read.json('../assets/people.json')

In [4]:
df.show()

+----+----+
| age|name|
+----+----+
|NULL|John|
|  25|Anne|
|  19|Rick|
+----+----+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [7]:
df.describe().show()

+-------+-----------------+----+
|summary|              age|name|
+-------+-----------------+----+
|  count|                2|   3|
|   mean|             22.0|NULL|
| stddev|4.242640687119285|NULL|
|    min|               19|Anne|
|    max|               25|Rick|
+-------+-----------------+----+