In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('ExampleGroupByAndAgg').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/28 20:04:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/28 20:04:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
df = spark.read.csv('../assets/sales.csv', inferSchema=True, header=True)

In [5]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG| Carlos|  200|
|   GOOG|   Juan|  120|
|   GOOG| Felipe|  340|
|   MSFT|   Tina|  600|
|   MSFT| Andrea|  124|
|   MSFT|  Carla|  243|
|     FB|   Sara|  870|
|     FB|Ignacio|  350|
|   APPL| Miguel|  250|
|   APPL|  Oscar|  130|
|   APPL|  Jorge|  750|
|   APPL|   Ivan|  350|
+-------+-------+-----+

In [6]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: integer (nullable = true)

# groupBy examples

In [8]:
df.groupBy('Company').sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|      1480|
|   GOOG|       660|
|     FB|      1220|
|   MSFT|       967|
+-------+----------+

In [9]:
df.groupBy('Company').count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [10]:
df.groupBy('Company').mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [11]:
df.groupBy('Company').max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|       750|
|   GOOG|       340|
|     FB|       870|
|   MSFT|       600|
+-------+----------+

# agg examples

In [12]:
df.agg({'Sales':'max'}).show()

+----------+
|max(Sales)|
+----------+
|       870|
+----------+

In [13]:
df.agg({'Sales':'min'}).show()

+----------+
|min(Sales)|
+----------+
|       120|
+----------+

In [17]:
df.groupBy('Company').agg({'Sales': 'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|       750|
|   GOOG|       340|
|     FB|       870|
|   MSFT|       600|
+-------+----------+