In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('ExampleNull').getOrCreate()

In [14]:
df = spark.read.csv('../assets/Null.csv', inferSchema=True, header=True)

In [15]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Clients: integer (nullable = true)

In [16]:
df.show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp1| John| NULL|      3|
|emp2| NULL| NULL|   NULL|
|emp3| NULL|  345|   NULL|
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

# na drop example

In [17]:
df.na.drop().show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

In [18]:
df.na.drop(thresh=2).show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp1| John| NULL|      3|
|emp3| NULL|  345|   NULL|
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

In [19]:
df.na.drop(thresh=3).show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp1| John| NULL|      3|
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

In [20]:
df.na.drop(how='any').show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

In [21]:
df.na.drop(how='all').show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp1| John| NULL|      3|
|emp2| NULL| NULL|   NULL|
|emp3| NULL|  345|   NULL|
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

In [22]:
df.na.drop(subset='Name').show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp1| John| NULL|      3|
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

In [23]:
df.na.fill(0).show()

+----+-----+-----+-------+
|  Id| Name|Sales|Clients|
+----+-----+-----+-------+
|emp1| John|    0|      3|
|emp2| NULL|    0|      0|
|emp3| NULL|  345|      0|
|emp4|Cindy|  456|      4|
+----+-----+-----+-------+

In [ ]:
df.na.fill(0, subset='Sales').show()