In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('MyFirstApp').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/25 08:25:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.json('../assets/people.json')

# select examples

In [4]:
df['age'] #wrong way

Column<'age'>

In [5]:
type(df['age'])

pyspark.sql.column.Column

In [7]:
df.select('age')

DataFrame[age: bigint]

In [9]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  25|
|  19|
+----+

In [10]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [11]:
df.head(2)

[Row(age=None, name='John'), Row(age=25, name='Anne')]

In [14]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [17]:
df.select('name', 'age').show()

+----+----+
|name| age|
+----+----+
|John|NULL|
|Anne|  25|
|Rick|  19|
+----+----+

In [26]:
df.select('name', 'age').head(1)

[Row(name='John', age=None)]

# withColum examples

In [27]:
df.withColumn('new_name', df['name']).show()

+----+----+--------+
| age|name|new_name|
+----+----+--------+
|NULL|John|    John|
|  25|Anne|    Anne|
|  19|Rick|    Rick|
+----+----+--------+

In [29]:
df.withColumn('new_name', df['name']).show()

+----+----+--------+
| age|name|new_name|
+----+----+--------+
|NULL|John|    John|
|  25|Anne|    Anne|
|  19|Rick|    Rick|
+----+----+--------+

In [30]:
df.withColumn('new_age', df['age'] * 2).show()

+----+----+-------+
| age|name|new_age|
+----+----+-------+
|NULL|John|   NULL|
|  25|Anne|     50|
|  19|Rick|     38|
+----+----+-------+

# withColumRenamed example

In [31]:
df.withColumnRenamed('age', 'age_renamed').show()

+-----------+----+
|age_renamed|name|
+-----------+----+
|       NULL|John|
|         25|Anne|
|         19|Rick|
+-----------+----+