In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/18 08:28:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/18 08:28:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
list = [1,2,3,4,5]

In [ ]:
rdd = sc.parallelize(list)

In [ ]:
rdd.collect()

[1, 2, 3, 4, 5]

# filter examples

In [13]:
filter_rdd = rdd.filter(lambda number: number > 1)

In [14]:
filter_rdd.collect()

[2, 3, 4, 5]

# map examples

In [17]:
map_example_a_rdd = rdd.map(lambda number : number + 1)

In [18]:
map_example_a_rdd.collect()

[2, 3, 4, 5, 6]

In [21]:
map_example_b_rdd = rdd.map(lambda number : number + 10).map(lambda number: str(number) + '_text')

In [22]:
map_example_b_rdd.collect()

['11_text', '12_text', '13_text', '14_text', '15_text']

In [23]:
map_example_c_rdd = rdd.map(lambda number : number + 5).map(lambda number: (number, str(number) + '_text'))

In [24]:
map_example_c_rdd.collect()

[(6, '6_text'), (7, '7_text'), (8, '8_text'), (9, '9_text'), (10, '10_text')]

# flatMap examples

In [49]:
list_of_lists = [1,'two',3,4,'five']

In [50]:
rdd_list_of_lists = sc.parallelize(list_of_lists)

In [51]:
rdd_list_of_lists.collect()

[1, 'two', 3, 4, 'five']

In [52]:
list_flated = rdd_list_of_lists.flatMap(lambda number: (number, str(number) + '_text'))

In [53]:
list_flated.collect()

[1, '1_text', 'two', 'two_text', 3, '3_text', 4, '4_text', 'five', 'five_text']